{% extends "base.html" %}

    {% block content %}
    <div class="row">
        <div class="col-md-8"><h3>Tareas</h3></div>
        <div class="col-md-4">
            <a href="{{url_for('task_create')}}" style="margin-top: 1em;" class="btn btn-primary">Crear</a>
        </div>
    </div>
    <hr>
    <table class="table">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Tiempo</th>
        </tr>
        </thead>

        <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{ task.name }}</td>
            <td>{{ task.time }}</td>
            <td><a href="{{ url_for('task_delete', pk=task.id) }} ">Delete</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
